/* Layout */

body {
    background-color: #D0DFFF;
    animation: fadeInAnimation ease .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  padding: 1.5vh;
}

.fp {
    width: 75vw;
}

header {
    align-items: center;
    box-sizing: border-box;
    margin-top: 3vh;
}

img {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/* Selection */

.noselect {
    -webkit-user-select: none;        
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

::selection {
    background-color: #3974F1;
    color: #D0DFFF;
}

::-moz-selection {
    background-color: #3974F1;
    color: #D0DFFF;
}

::-o-selection {
    background-color: #3974F1;
    color: #D0DFFF;
}

::-ms-selection {
    background-color: #3974F1;
    color: #D0DFFF;
}

::-webkit-selection {
    background-color: #3974F1;
    color: #D0DFFF;
}

/* Typography */

@font-face { 
    font-family: Agrandir; src: url('Agrandir.otf');
}

@font-face { 
    font-family: DMSans; src: url('DMSans.ttf'); 
} 

body {
    font-family: DMSans;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-family: Agrandir;
    font-size: 2.125;
    font-weight: 400;
    letter-spacing: -.01em;
    line-height: 2.5rem;
    margin: 0.5rem 0 0;
    color: #3974F1;
}

h2 {
    font-family: Agrandir;
    font-size: 24rem;
    font-weight: 400;
    letter-spacing: -.012em;
    line-height: 32rem;
    color: #3974F1;
}

h3 {
    font-family: Agrandir;
    font-size: 1.25rem;
    font-weight: 500;
    color: #3974F1;
}

.font-subheading {
    font-family: Agrandir;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    word-break: break-all;
    color: #3974F1;
}

.font-body1,
body {
    font-family: DMSans;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.25rem;
    color: #76A2FF;
}

p {
    font-family: DMSans;
    font-size: 1.375rem;
    font-weight: 400;
    line-height: 0;
    color: #76A2FF;
    text-align: center;
}

.font-body2 {
    font-family: DMSans;
    font-size: 0.75rem;
    line-height: 1.125rem;
    color: #76A2FF;
}

a {
    text-decoration: none;
    color: currentColor;
    cursor: pointer;
}


/* Text Box */

.input-container {
  position: relative;
}

textarea {
  display: block;
  resize: none;
  width: 75vw;
  line-height: 1.14rem;
  max-height: 40vh;
  border: 0.063rem solid #3974F1;
  border-radius: 1rem;
  box-sizing: border-box;
  padding: 1rem;
  padding-right: 0.313rem;
  background-color: #D0DFFF;
}

.label {
  position: absolute;
  top: 2rem;
  bottom: 0;
  left: 2rem;
  display: flex;
  align-items: normal;
  pointer-events: none;
}

textarea, .label .text {
  font-family: 'DMSans';
  font-size: 1rem;
  color: #3974F1;
}

.label .text {
  font-family: 'Agrandir';
  transition: all 0.15s ease-out;
  color: #3974F1;
}

textarea:focus {
  outline: none;
  border: 0.125rem solid #3974F1;
}

textarea:focus + .label .text, .input-container.has-value .label .text, :not(textarea[value=""]) + .label .text {
  font-size: 0.75rem;
  transform: translate(0, -29px);
  background-color: #D0DFFF;
  border-radius: 0.438rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  height: 1.25rem;
}

textarea:focus + .label .text {
  color: #3974F1;
}

/* Cursor */

html {
    cursor: none;
}

a[href],
button,
textarea,
input,
label {
  cursor: none; /* Hide the default pointer cursor */
}

.custom-cursor,
.custom-cursor-dot {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.custom-cursor {
  width: 30px;
  height: 30px;
  border: 1px solid #76A2FF;
  border-radius: 50%;
}

.custom-cursor-dot {
  width: 8px;
  height: 8px;
  border-radius: 50px;
  background-color: #3974F1;
}

/* Scrollbar */

::-webkit-scrollbar {
width: 15px;
height: 10px;
}
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment  {
height: 10px;
background-color: ;
}
::-webkit-scrollbar-track-piece  {
background-color: transparent;
-webkit-border-radius: 1rem;
}
::-webkit-scrollbar-thumb:vertical {
height: 10px;
background-color: #76A2FF;
border: 3px solid #D0DFFF;
-webkit-border-radius: 1rem;
}


/* Logo */

.logo {
  text-align: center;
}

/* Animations */

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* File Input */

.filepond--panel-root {
    border: 0.063rem dashed #3974F1;
    border-radius: 1rem;
    background-color: #D0DFFF;
    height: 1em;
}

.filepond--drop-label label {
    cursor: none;
    font-family: 'Agrandir';
    color: #3974F1;
}

.filepond--label-action {
    cursor: none;
    text-decoration-color: #76A2FF;
}

.filepond--item-panel {
    background-color: #76A2FF;
}

.filepond--file-action-button {
    cursor: none;
    background-color: #3974F1;
}

.filepond--file {
    font-family: "DMSans";
}

.filepond--root {
    max-height: 30vh;
}

.filepond--download-icon {
    cursor: none;
    height: 25px;
    width: 25px;
    margin-right: 0.8em;
    margin-top: 0.05em;
    margin-left: 0.21em;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
}

.filepond--download-icon:hover,
.filepond--magnify-icon:hover {
    background: hsla(0, 0%, 100%, 0.5);
}

.filepond--file-info-sub {
    margin-top: -1em;
    margin-left: 4em;
}